draft-ietf-httpbis-cookie-same-site

https://tools.ietf.org/html/draft-ietf-httpbis-cookie-same-site-00

>    Section 8.2 of [RFC6265] eloquently notes that cookies are a form of
>    ambient authority, attached by default to requests the user agent
>    sends on a user's behalf.  Even when an attacker doesn't know the
>    contents of a user's cookies, she can still execute commands on the
>    user's behalf (and with the user's authority) by asking the user
>    agent to send HTTP requests to unwary servers.
> 
>    Here, we update [RFC6265] with a simple mitigation strategy that
>    allows servers to declare certain cookies as "same-site", meaning
>    they should not be attached to "cross-site" requests (as defined in
>    section 2.1).
> 
>    Note that the mechanism outlined here is backwards compatible with
>    the existing cookie syntax.  Servers may serve these cookies to all
>    user agents; those that do not support the "SameSite" attribute will
>    simply store a cookie which is attached to all relevant requests,
>    just as they do today.

Adds `SameSite=Strict` and `SameSite=Lax` attributes that the parser should understand.


This appears to now be implemented in Opera, "Samsung Internet", Firefox and Chrome, so a feature-flag to support it would be a good feature to add.

https://www.chromestatus.com/feature/4672634709082112
https://www.owasp.org/index.php/SameSite
https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie

https://caniuse.com/#search=samesite indicates partial support in IE11 and full support in Edge

This one seems potentially trickier to implement. In particular, the `CookieJar.setCookie` and `.getCookie` require a URL parameter (or parsed-URL) but they don't require anything resembling a Referer or "what page am I on". Maybe add a `currentUrl` constructor option (and property) to `CookieJar`?

The proposed RFC suggests changes to the storage model that would need to be adhered to.

Merged in referenced p/r. Closing this out.