draft-ietf-httpbis-cookie-prefixes

https://tools.ietf.org/html/draft-ietf-httpbis-cookie-prefixes-00

>    Section 8.5 and Section 8.6 of [RFC6265] spell out some of the
>    drawbacks of cookies' implementation: due to historical accident, it
>    is impossible for a server to have confidence that a cookie set in a
>    secure way (e.g., as a domain cookie with the "Secure" (and possibly
>    "HttpOnly") flags set) remains intact and untouched by non-secure
>    subdomains.
> 
>    We can't alter the syntax of the "Cookie" request header, as that
>    would likely break a number of implementations.  This rules out
>    sending a cookie's flags along with the cookie directly, but we can
>    smuggle information along with the cookie if we reserve certain name
>    prefixes for cookies with certain properties.
> 
>    This document describes such a scheme, which enables servers to set
>    cookies which conforming user agents will ensure are "Secure", and
>    locked to a domain.

Parser should respect cookies starting with `__Secure-` and `__Host-`.

(Probably use `indexOf` in the implementation; possible ReDoS)


Firefox and Chrome (and Opera) shipped it, so we should support it too https://www.chromestatus.com/feature/4952188392570880

Current draft: 

`__Secure-`: https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis-02#section-4.1.3.1

>    If a cookie's name begins with a case-sensitive match for the string
>    "__Secure-", then the cookie will have been set with a "Secure"
>    attribute.
> 
>    For example, the following "Set-Cookie" header would be rejected by a
>    conformant user agent, as it does not have a "Secure" attribute.
> 
>    Set-Cookie: __Secure-SID=12345; Domain=example.com
> 
>    Whereas the following "Set-Cookie" header would be accepted:
> 
>    Set-Cookie: __Secure-SID=12345; Domain=example.com; Secure

Super easy to support: just honor a `prefixSecurity: 'unsafe-disabled'|'silent'|'strict'` flag given to `CookieJar` -- applies during `addCookie` and results in an error (`'strict'`) or silently disallowing it when `'silent'`. The unsafe option follows the secure coding principle of "don't alias empty-string to unsafe/insecure". Probably the most sensible backwards compatible default is `'silent'`

`__Host-`: https://tools.ietf.org/html/draft-ietf-httpbis-rfc6265bis-02#section-4.1.3.2

>    If a cookie's name begins with a case-sensitive match for the string
>    "__Host-", then the cookie will have been set with a "Secure"
>    attribute, a "Path" attribute with a value of "/", and no "Domain"
>    attribute.
> 
>    This combination yields a cookie that hews as closely as a cookie can
>    to treating the origin as a security boundary.  The lack of a
>    "Domain" attribute ensures that the cookie's "host-only-flag" is
>    true, locking the cookie to a particular host, rather than allowing
>    it to span subdomains.  Setting the "Path" to "/" means that the
>    cookie is effective for the entire host, and won't be overridden for
>    specific paths.  The "Secure" attribute ensures that the cookie is
>    unaltered by non-secure origins, and won't span protocols.
> 
>    Ports are the only piece of the origin model that "__Host-" cookies
>    continue to ignore.
> 
>    For example, the following cookies would always be rejected:
> 
>    Set-Cookie: __Host-SID=12345
>    Set-Cookie: __Host-SID=12345; Secure
>    Set-Cookie: __Host-SID=12345; Domain=example.com
>    Set-Cookie: __Host-SID=12345; Domain=example.com; Path=/
>    Set-Cookie: __Host-SID=12345; Secure; Domain=example.com; Path=/
> 
>    While the would be accepted if set from a secure origin (e.g.
>    "https://example.com/"), and rejected otherwise:
> 
>    Set-Cookie: __Host-SID=12345; Secure; Path=/

The `prefixSecurity` configuration value should probably enforce `__Host-` simultaneously with `__Secure-`